<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CCA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header class="header-bar">
      <div class="container d-flex flex-column flex-md-row align-items-center p-3">
        <h4 class="font-weight-normal" style="margin-right: 10px">
          <a href="/" class="text-white"><img title="Logo" data-toggle="tooltip" data-placement="bottom" style="width: 80px; height: 80px; border-radius: 40px" src="/images/ccalogo.jpg" /></a>
        </h4>
        <div class="text-white my-0 mr-md-auto justify-content-center">
          <h4>Champasari Cricket Academy</h4>
          <p class="header-p">ESTD : 2017</p>
          <p></p>
        </div>

        <div class="flex-row my-md-0 paddingMarginZero">
          <!--Facebook-->
          <a class="btn-floating btn-lg btn-fb mr-0 header-a" type="button" role="button" href="#"><i class="fab fa-facebook-f"></i></a>
          <!--Twitter-->
          <a class="btn-floating btn-lg btn-tw mr-0 header-a" type="button" role="button" href="#"><i class="fab fa-twitter"></i></a>
          <!--Google +-->
          <a class="btn-floating btn-lg btn-gplus mr-0 header-a" type="button" role="button" href="#"><i class="fab fa-google-plus-g"></i></a>
          <!--Instagram-->
          <a class="btn-floating btn-lg btn-ins mr-0 header-a" type="button" role="button" href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </header>

    <div class="menuItem">
      <div class="d-flex justify-content-center">
        <a class="btn btn-sm btn-light mr-1" href="/">Home</a>
        <a class="btn btn-sm btn-light mr-1" href="/coaches">Coaches</a>
        <a class="btn btn-sm btn-light mr-1" href="/students">Students</a>
        <a class="btn btn-sm btn-light mr-1" href="/matches">Matches</a>
        <a class="btn btn-sm btn-light mr-1" href="/about-us">About Us</a>
        <a class="btn btn-sm btn-light mr-1" href="/admition">Admition</a>

        <% if (user) { %>
        <div class="d-flex">
          <% if (user.userType=="admin") { %>
          <a class="btn btn-sm btn-success mr-1" href="/admin-home">Admin's Home</a>
          <% } %> <% if (user.userType=="teacher") { %>
          <a class="btn btn-sm btn-success mr-1" href="/teacher-home">Teacher's Home</a>
          <% } %> <% if (user.userType=="student") { %>
          <a class="btn btn-sm btn-success mr-1" href="/student-home">Student's Home</a>
          <% } %> <% if (user.userType=="matchController") { %>
          <a class="btn btn-sm btn-success mr-1" href="/matchController-home">Scorer's Home</a>
          <% } %>

          <form action="/logout" method="POST" class="d-inline">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <button class="btn btn-sm btn-secondary">Sign Out</button>
          </form>
        </div>
        <% } else { %>
        <button class="btn btn-sm btn-secondary" type="button" data-toggle="collapse" data-target="#collapseSignIn" aria-expanded="false" aria-controls="collapseExample">Sign In</button>
        <% } %>
      </div>
    </div>

    <div class="collapse" id="collapseSignIn">
      <div class="container">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 shadow">
            <h2 class="bold-font">For Admin</h2>
            <form action="/adminLogin" method="POST" class="mb-0 pt-2 pt-md-0">
              <div class="row align-items-center">
                <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
                  <input name="regNumber" class="form-control form-control-sm input-dark" type="text" placeholder="Registration Number" autocomplete="off" />
                </div>
                <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
                  <input name="password" class="form-control form-control-sm input-dark" type="password" placeholder="Password" />
                </div>
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <div class="col-md-auto">
                  <button class="btn btn-primary btn-sm">Sign In</button>
                </div>
              </div>
            </form>
            <h2 class="bold-font">For Teachers</h2>
            <form action="/teacherLogin" method="POST" class="mb-0 pt-2 pt-md-0">
              <div class="row align-items-center">
                <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
                  <input name="regNumber" class="form-control form-control-sm input-dark" type="text" placeholder="Registration Number" autocomplete="off" />
                </div>
                <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
                  <input name="password" class="form-control form-control-sm input-dark" type="password" placeholder="Password" />
                </div>
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <div class="col-md-auto">
                  <button class="btn btn-primary btn-sm">Sign In</button>
                </div>
              </div>
            </form>
            <h2 class="bold-font">For Students</h2>
            <form action="/studentLogin" method="POST" class="mb-0 pt-2 pt-md-0">
              <div class="row align-items-center">
                <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
                  <input name="regNumber" class="form-control form-control-sm input-dark" type="text" placeholder="Registration Number" autocomplete="off" />
                </div>
                <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
                  <input name="password" class="form-control form-control-sm input-dark" type="password" placeholder="Password" />
                </div>
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <div class="col-md-auto">
                  <button class="btn btn-primary btn-sm">Sign In</button>
                </div>
              </div>
            </form>
            <h2 class="bold-font">For Match Controller</h2>
            <form action="/matchControllerLogin" method="POST" class="mb-0 pt-2 pt-md-0">
              <div class="row align-items-center">
                <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
                  <input name="regNumber" class="form-control form-control-sm input-dark" type="text" placeholder="Registration Number" autocomplete="off" />
                </div>
                <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
                  <input name="password" class="form-control form-control-sm input-dark" type="password" placeholder="Password" />
                </div>
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <div class="col-md-auto">
                  <button class="btn btn-primary btn-sm">Sign In</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </body>
</html>
