<%- include('includes/header') %>
<div class="container py-md-3">
  <div class="row align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 shadow">
          <h2 class="text-center bold-font">All Eligible Players</h2>
          <h2 class="text-center">
            <i>All the players have born after - <strong><%=dob%></strong></i>
          </h2>
          <%if(!players.length){%>
          <span class="pt-2">
            <p class="py-3 mt-4 btn btn-lg btn-primary btn-color btn-block">There are no eligible players!!<strong></strong></p>
          </span>
          <%}%> <% players.forEach(function(player){ %>

          <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapse<%= player.regNumber %>" role="button" aria-expanded="false" aria-controls="collapseExample">
            <img class="avatar-tiny" src="/images/<%=player.regNumber%>.jpg" />
            <strong class="text-uppercase"><%= player.username %> </strong>
            <span class="float-right"><i class="fas fa-caret-down"></i></span>
          </a>
          <div class="collapse" id="collapse<%= player.regNumber %>">
            <div class="card card-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10 shadow upperBgColor">
                    <div class="d-flex justify-content-between container">
                      <h2 class="text-center"><img class="avatar-student" src="/images/<%=player.regNumber%>.jpg" /></h2>
                    </div>

                    <div class="container mb-4">
                      <p><strong>Name : </strong><%= player.username %></p>
                      <p><strong>Group : </strong><%= player.group %></p>
                      <p><strong>Date Of Birth : </strong><%= player.dob %></p>
                      <p><strong>Batting Style : </strong><%= player.battingStyle %></p>
                      <p><strong>Bowling Style : </strong><%= player.bowlingStyle %></p>
                      <p><strong>Registration number : </strong><%= player.regNumber %></p>
                    </div>
                  </div>

                  <div class="col-md-1"></div>
                </div>
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10 shadow innerBgColor">
                    <h3 class="text-center mb-4">Total Match Played - <strong><%=player.statistics.matches %></strong></h3>
                    <div class="row">
                      <div class="col-6 col-md-6 shadow">
                        <div class="text-center">
                          <h5 class="statisticsH5">Batting Statistics</h5>
                        </div>

                        <p><strong>Innings : </strong><%=player.statistics.batting.innings %></p>
                        <p><strong>Runs : </strong><%=player.statistics.batting.runs %></p>
                        <p><strong>Balls : </strong><%=player.statistics.batting.balls %></p>
                        <p><strong>Hight Run : </strong><%=player.statistics.batting.hightRuns %></p>
                      </div>
                      <div class="col-6 col-md-6 shadow">
                        <div class="text-center">
                          <h5 class="statisticsH5">Bowling Statistics</h5>
                        </div>

                        <p><strong>Innings : </strong><%=player.statistics.bowling.innings %></p>
                        <p><strong>Given Runs : </strong><%=player.statistics.bowling.runs %></p>
                        <p><strong>Overs : </strong><%=player.statistics.bowling.overs %></p>
                        <p><strong>Wickets : </strong><%=player.statistics.bowling.wickets %></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</div>

<%- include('includes/footer') %>
