<%- include('includes/header') %>
<div class="container py-md-3">
  <div class="row align-items-center">
    <div class="container">
      <%- include('includes/flash') %>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 shadow">
          <form action="/student/profile/<%=userData.regNumber%>/edit" method="POST" id="update-registration-form">
            <h2>Edit Profile</h2>

            <div class="form-group">
              <label for="username-register" class="text-muted mb-1"><small>Name</small></label>
              <input name="username" id="username-register" value="<%=userData.username%>" class="form-control" type="text" placeholder="Name of the student" autocomplete="off" />
            </div>

            <div class="form-group">
              <label for="address-register" class="text-muted mb-1"><small>Address</small></label>
              <input name="address" id="address-register" class="form-control" value="<%=userData.address%>" type="tyext" placeholder="Enter address" />
            </div>

            <div class="form-group">
              <label for="batting-register" class="text-muted mb-1"><small>Batting Style</small></label>
              <select required id="batting-register" class="form-control" name="battingStyle" form="update-registration-form">
                <option value="<%=userData.battingStyle%>"><%=userData.battingStyle%></option>
                <option value="Right handed bat">Right Handed Bat</option>
                <option value="Left handed bat">Left Handed Bat</option>
              </select>
            </div>

            <div class="form-group">
              <label for="bowling-register" class="text-muted mb-1"><small>Bowling Style</small></label>
              <select required id="bowling-register" class="form-control" name="bowlingStyle" form="update-registration-form">
                <option value="<%=userData.bowlingStyle%>"><%=userData.bowlingStyle%></option>
                <option value="Right-arm offbreak">Right-arm offbreak</option>
                <option value="Right-arm legbreak">Right-arm legbreak</option>
                <option value="Right-arm fast">Right-arm fast</option>
                <option value="Right-arm medium">Right-arm medium</option>
                <option value="Left-arm orthodox">Left-arm orthodox</option>
                <option value="Left-arm unorthodox">Left-arm unorthodox</option>
                <option value="Left-arm fast">Left-arm fast</option>
                <option value="Left-arm medium">Left-arm medium</option>
              </select>
            </div>

            <div class="form-group">
              <label for="phone-register" class="text-muted mb-1"><small>Phone number</small></label>
              <input name="phone" id="phone-register" class="form-control" value="<%=userData.phone%>" type="text" placeholder="Enter phone number" />
            </div>

            <div class="form-group">
              <label for="email-register" class="text-muted mb-1"><small>Email</small></label>
              <input name="email" id="email-register" class="form-control" value="<%=userData.email%>" type="text" placeholder="you@example.com" autocomplete="off" />
            </div>

            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Update</button>
          </form>
          <br />
          <hr />
          <br />
          <%- include('includes/passwordForm') %>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</div>

<%- include('includes/footer') %>
