<%- include('includes/header') %>
<div class="container">
  <% regErrors.forEach(function(message) { %>
    <div class="alert alert-danger small"><%= message %></div>
  <% }) %>
  <%- include('includes/flash') %>
</div>

<% if (user.userType=="teacher") { %>
  

<div class="container">
  <div class="row paddingMarginZero" >
    <div class="col-md-12" >
        <div class="row">
          <div class="col-md-3 align-self-start shadow mobileResponsiveDesign" >
            <div class="container" style="margin-top: 1rem;">
              <a  href="/teacherProfile/<%= user.regNumber %>">                               
                <div class="text-center">
                <picture> 
                  <img class="homeProfilePic shadow " src="/images/<%=user.regNumber%>.jpg"  alt="">
                </picture> 
                <h2 class="about-h2 text-uppercase nameStyle" ><%= user.username %></h2>
              </a>
              </div>
            </div>  
            
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingChangeGroup">
                  <h5 class="mb-0">
                    <button class="btn btn-link bolderFont"  data-toggle="collapse" data-target="#collapseChangeGroup" aria-expanded="true" aria-controls="collapseChangeGroup">
                      Change Students Group
                    </button>
                  </h5>
                </div>
            
                <div id="collapseChangeGroup" class="collapse show" aria-labelledby="headingChangeGroup" data-parent="#accordion">
                  <div class="card-body">
                      <form action="/changeGroup" method="POST" id="group-form">
                        <div class="form-group">
                          <label for="regNumber" class="text-muted mb-1"><small>Enter Students Registration Number</small></label>
                          <input required name="regNumber" id="regNumber" class="form-control" type="text" placeholder="Enter registration number" autocomplete="off">
                        </div>
                        <div class="form-group">
                          <label for="group" class="text-muted mb-1"><small>Select Students Group</small></label>
                          <select required id="group" class="form-control " name="group" form="group-form">
                            <option value="a">Group A</option>
                            <option value="b">Group B</option>
                            <option value="c">Group C</option>
                          </select>
                        </div>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                        <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Submit</button>
                      </form>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingGroupB">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed bolderFont"  data-toggle="collapse" data-target="#collapseAllTeachers" aria-expanded="false" aria-controls="collapseGroupB">
                      All Teachers
                    </button>
                  </h5>
                </div>
                <div id="collapseAllTeachers" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                      <div class="list-group">
                      <% teachers.forEach(function(teacher) { %>
                        <a href="/teacherProfile/<%= teacher.regNumber %>" class="list-group-item list-group-item-action">
                          <img class="avatar-tiny" src="/images/<%=teacher.regNumber%>.jpg">
                          <strong><%= teacher.username %> </strong>
                      </a>
                      <% }) %>
                      </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingGroupA">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed bolderFont"  data-toggle="collapse" data-target="#collapseGroupA" aria-expanded="false" aria-controls="collapseGroupA">
                      Group A Students
                    </button>
                  </h5>
                </div>
                <div id="collapseGroupA" class="collapse" aria-labelledby="headingGroupA" data-parent="#accordion">
                  <div class="card-body">
                    
                    <div class="list-group">
                    <% groupA.forEach(function(student) { %>
                      <a href="/StudentProfile/<%= student.regNumber %>" class="list-group-item list-group-item-action">
                        <img class="avatar-tiny" src="/images/<%=student.regNumber%>.jpg">
                        <strong><%= student.username %> </strong>
                        <strong style="display: block;">Reg No:<%= student.regNumber %> </strong>
                    </a>
                    <% }) %>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="card">
                <div class="card-header" id="headingGroupB">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed bolderFont" data-toggle="collapse" data-target="#collapseGroupB" aria-expanded="false" aria-controls="collapseGroupB">
                      Group B Students
                    </button>
                  </h5>
                </div>
                <div id="collapseGroupB" class="collapse" aria-labelledby="headingGroupB" data-parent="#accordion">
                  <div class="card-body">
                    
                      <div class="list-group">
                      <% groupB.forEach(function(student) { %>
                        <a href="/StudentProfile/<%= student.regNumber %>" class="list-group-item list-group-item-action">
                          <img class="avatar-tiny" src="/images/<%=student.regNumber%>.jpg">
                          <strong><%= student.username %> </strong>
                          <strong style="display: block;">Reg No:<%= student.regNumber %> </strong>
                      </a>
                      <% }) %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingGroupC">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed bolderFont" data-toggle="collapse" data-target="#collapseGroupC" aria-expanded="false" aria-controls="collapseGroupC">
                      Group C Students
                    </button>
                  </h5>
                </div>
                <div id="collapseGroupC" class="collapse" aria-labelledby="headingGroupC" data-parent="#accordion">
                  <div class="card-body">
                    
                      <div class="list-group">
                      <% groupC.forEach(function(student) { %>
                        <a href="/StudentProfile/<%= student.regNumber %>" class="list-group-item list-group-item-action">
                          <img class="avatar-tiny" src="/images/<%=student.regNumber%>.jpg">
                          <strong><%= student.username %> </strong>
                          <strong style="display: block;">Reg No:<%= student.regNumber %> </strong>
                      </a>
                      <% }) %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingUpcomingMatch">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed bolderFont" data-toggle="collapse" data-target="#collapseUpcomingMatch" aria-expanded="false" aria-controls="collapseUpcomingMatch">
                      Upcomming Matche Details
                    </button>
                  </h5>
                </div>
                <div id="collapseUpcomingMatch" class="collapse" aria-labelledby="headingUpcomingMatch" data-parent="#accordion">
                  <div class="card-body">
                    <form action="/upcomingMatch" method="POST" id="upcommingMatchDetails">
                      
                      <div class="form-group">
                        <label for="date" class="text-muted mb-1"><small>Date of the upcoming match</small></label>
                        <input required name="date" id="date" value="<%= announcement.date %>" class="form-control" type="date" placeholder="Enter the played date" autocomplete="off">
                      </div>
                      <div class="form-group">
                        <label for="firstTeam" class="text-muted mb-1"><small>Enter first team name</small></label>
                        <input required name="firstTeam" id="firstTeam" value="<%= announcement.firstTeam %>" class="form-control" type="text" placeholder="Enter first team name" autocomplete="off">
                      </div>
                      <div class="form-group">
                        <label for="secondTeam" class="text-muted mb-1"><small>Enter second team </small></label>
                        <input required name="secondTeam" id="secondTeam" value="<%= announcement.secondTeam %>" class="form-control" type="text" placeholder="Enter second team name" autocomplete="off">
                      </div>
                      <div class="form-group">
                        <label for="matchType" class="text-muted mb-1"><small>Type of the match</small></label>
                        <select required id="matchType" class="form-control " name="matchType" form="upcommingMatchDetails">
                          <option value=<%= announcement.matchType %>><%= announcement.matchType %></option>
                          <option value="Practice match">Practice match</option>
                          <option value="League match">League match</option>
                          <option value="Group match">Group match</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="venue" class="text-muted mb-1"><small>Venue of the Match</small></label>
                        <input required name="venue" id="venue" value="<%= announcement.venue %>" class="form-control" type="text" placeholder="Enter the venue" autocomplete="off">
                      </div>
                      <div class="form-group">
                        <label for="reportingTime" class="text-muted mb-1"><small>Reportring Time</small></label>
                        <input required name="reportingTime" id="reportingTime" value="<%= announcement.reportingTime %>" class="form-control" type="text" placeholder="Enter reporting time" autocomplete="off">
                      </div>
                      <div class="form-group">
                        <label for="playersName" class="text-muted mb-1"><small>Selected Players</small></label>
                        <textarea required name="playersName" id="playersName" value="<%= announcement.playersName %>" class="body-content tall-textarea form-control" placeholder="Those palyers played in previous match--<%= announcement.playersName %>" type="text"></textarea>
                      </div>
                      <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                      <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingEligiblePlayers">
                  <h5 class="mb-0">
                    <button class="btn btn-link bolderFont"  data-toggle="collapse" data-target="#collapseEligiblePlayers" aria-expanded="false" aria-controls="collapseEligiblePlayers">
                      Get Eligible Players
                    </button>
                  </h5>
                </div>
            
                <div id="collapseEligiblePlayers" class="collapse " aria-labelledby="headingEligiblePlayers" data-parent="#accordion">
                  <div class="card-body">
                      <form action="/eligiblePlayers" method="POST" id="group-form">
                        <div class="form-group">
                          <label for="birthDate" class="text-muted mb-1"><small>Select Date Of Birth To Find Eligible Players</small></label>
                          <input required name="birthDate" id="birthDate" class="form-control" type="date" placeholder="Enter registration number" autocomplete="off">
                        </div>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                        <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Submit</button>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="col-md-9 shadow mobileResponsiveDesign" >
              <div class="text-center" >
                <% birthdayBoys.forEach(function(bdboy) { %>
                  <div class="btn btn-block btn-info text-white" >
                    <%var him_her= (bdboy.gender=="male") ? "his":"her";%>                             
                    <i>Today is <strong><%=bdboy.username%></strong>'s Birthday,Let's celebrate <%=him_her%> birthday.</i>                             
                  </div>
                <%})%>
              </div>
                  
                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-10">
                        
                        <div class="">
                          <div class="container " >
                            <div class="row">
                              <div class="col-md-2"></div>
                              <div class="col-md-8">
                                <form action="/post-create" method="POST" id="Post-form">
                                  <br>
                                  <h2 class="text-center bold-font">Share Your Thought</h2>
                          
                                  <div >
                                    <label for="postType" class="text-muted mb-1"><small>Select Post Type</small></label>
                                    <select required id="postType" class="form-control " name="postType" form="Post-form">
                                      <option value="general">General</option>
                                      <option value="announcment">Announcment</option>
                                      <option value="advice">Advice</option>
                                    </select>
                                  </div>

                                  <div >
                                    <label for="post" class="text-muted mb-1"><small>Wite your thoughts here</small></label>
                                    <textarea required name="body" id="post" class="body-content form-control" placeholder="Write your thoughts here......"  type="text"></textarea>
                                  </div>
                                  <input type="hidden" name="_csrf" value="<%=csrfToken%>" />                     
                                  <button type="submit" class="btn btn-lg btn-success btn-block">Submit</button>
                                </form>
                                </div>
                                <div class="col-md-2"></div>
                              </div>
                            </div>
                          </div>
                            
                          <hr>
                          <h2 class="text-center bold-font">All Posts</h2>
                          <hr>
                          <%- include('includes/posts') %>
                            </div>
                      </div>
                      <div class="col-md-1"></div>
                    </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    
  </div>
</div>
 

<% }else{ %>
    <h1>Something is wrong here!!!</h1>
<% } %>
  
<%- include('includes/footer') %>





 